# Comma-separated numeric Telegram user IDs allowed to use admin commands.
# Example: ADMIN_IDS=123456789,987654321
ADMIN_IDS=7636115399
# You can provide with or without @, e.g. cypherus_ann OR @cypherus_ann
OFFICIAL_CHANNEL_USERNAME=cypherus_ann
OFFICIAL_GROUP_USERNAME=cypherus_grp

